<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>프로필 사진을 고르기 위해 사진에 접근</string>
		<key>NSCameraUsageDescription</key>
		<string>프로필 사진을 찍기 위해 필요</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>앱에 필요한 기능</string>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Ground Flip</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>ground_flip</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>$(KAKAO_NATIVE_APP_KEY)</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>kakaokompassauth</string>
			<string>kakaolink</string>
			<string>kakaoplus</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSHealthShareUsageDescription</key>
		<string>We will sync your data with the Apple Health app to give you better insights</string>
		<key>NSHealthUpdateUsageDescription</key>
		<string>We will sync your data with the Apple Health app to give you better insights</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app needs GPS</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs GPS</string>
		<key>UIBackgroundModes</key>
        <array>
            <string>location</string>
        </array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
